<app-banner></app-banner>
<div class="container">

    <div class="header">
        <input type="text" placeholder="Search...">
        <button [routerLink]="'/create-product'">Create</button>
    </div>
    <div class="table-container">
        <table class="table-element">
            <thead class="table-head">
                <tr>
                    <th>Logo</th>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>Liberation Date</th>
                    <th>Restructuration Date</th>
                    <th></th>
                </tr>                
            </thead>
            <tbody>
                <tr>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>...</td>
                </tr>
            </tbody>
            <tfoot>
                6 Results           
            </tfoot>
        </table>
    </div>

</div>
