.container {     
    padding-top: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;    
}

input {
    border-radius: 5px;
    height: 30px;
}

button {
    background-color: #ffdf00;
    color: #0d245e;
    border: none;
    height: 45px;    
    width: 80px;
    border-radius: 5px;    
}

button:hover {
    cursor: pointer;
}

.table-container {
    background-color: white;
    padding: 20px;
}

.table-head {
    background-color: #f4f6f9;
    height: 50px;
}

.table-element {
    border-collapse: collapse;
    width: 100%;
}

tr {
    height: 50px;
    text-align: center;
    border-bottom: 1px solid #f4f6f9;
}

tfoot {    
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;       
}

a {
    font-size: 20px;
}

a:hover {
    cursor: pointer;
}